<a href="https://colab.research.google.com/github/anasabbad/Play-Store-App-Review-Analysis--EDA-Capstone/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

**Importing Libraries and Loading the data set**

In [231]:
#importing the required libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [232]:
#mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [233]:
#loading the datasets
data= pd.read_csv('/content/drive/MyDrive/EDA_Capstone/Play Store Data.csv')

In [234]:
reviews= pd.read_csv('/content/drive/MyDrive/EDA_Capstone/User Reviews.csv')

**Data Set Inspection**

Here we will see a glimpse of the data set

In [235]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [236]:
reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [237]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [238]:
data.shape

(10841, 13)

## **Handling missing values**

In [239]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

From this we can see that there is some columns with missing values. We will either drop some columns or impute values depending on the data

In [240]:
data['Reviews'] = data['Reviews'].fillna(0)

In [241]:
data.shape

(10841, 13)

In [242]:
data.info()
#data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

The missing values in content rating, current version and Android version can be imputed with the mode of the column as they are objects

In [243]:
data['Rating'] = data['Rating'].fillna(data['Rating'].median())

In [244]:
data['Type'] = data['Type'].fillna(data['Type'].mode()[0])

In [245]:
data['Content Rating'] = data['Content Rating'].fillna(data['Content Rating'].mode()[0])

In [246]:
data['Current Ver'] = data['Current Ver'].fillna(data['Current Ver'].mode()[0])

In [247]:
data['Android Ver'] = data['Android Ver'].fillna(data['Android Ver'].mode()[0])

In [248]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10841 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10841 non-null  object
 12  Android Ver     10841 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

now we can see that we have got rid of all the null values present in the data set.

**Checking for duplicates**

In [249]:
duplicate_check= data['App'].duplicated().any()
duplicate_check

True

In [250]:
data['App'].value_counts()

ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
ESPN                                                  7
Duolingo: Learn Languages Free                        7
Candy Crush Saga                                      7
                                                     ..
Meet U - Get Friends for Snapchat, Kik & Instagram    1
U-Report                                              1
U of I Community Credit Union                         1
Waiting For U Launcher Theme                          1
iHoroscope - 2018 Daily Horoscope & Astrology         1
Name: App, Length: 9660, dtype: int64

now let us see whether the data is same in all those rows or not

In [251]:
data[data['App']=='ROBLOX']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1653,ROBLOX,GAME,4.5,4447388,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1701,ROBLOX,GAME,4.5,4447346,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1748,ROBLOX,GAME,4.5,4448791,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1841,ROBLOX,GAME,4.5,4449882,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1870,ROBLOX,GAME,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2016,ROBLOX,FAMILY,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2088,ROBLOX,FAMILY,4.5,4450855,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2206,ROBLOX,FAMILY,4.5,4450890,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
4527,ROBLOX,FAMILY,4.5,4443407,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up

this may have happened because the data might have been pulled at different times. we need to keep the row with maximum value of reviews assuming that is the latest one.

For this we need to convert the reviews from object to numerical values

In [252]:
data['Reviews'] = pd.to_numeric(data['Reviews'],errors = 'coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10840 non-null  float64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10841 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10841 non-null  object
 12  Android Ver     10841 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [253]:
data = data.sort_values('Reviews', kind= 'mergesort', ascending=False).drop_duplicates('App', keep='first').sort_index()

In [254]:
duplicate_check= data['App'].duplicated().any()
duplicate_check

False

In [255]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          9660 non-null   float64
 3   Reviews         9659 non-null   float64
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9660 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9660 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9660 non-null   object
 12  Android Ver     9660 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

Now we have removed all the duplicates

In [256]:
data['Reviews'] = data['Reviews'].fillna(0)

In [257]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          9660 non-null   float64
 3   Reviews         9660 non-null   float64
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9660 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9660 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9660 non-null   object
 12  Android Ver     9660 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

**Data preparation**

we now need to convert the Size, Installs and Price columns to numerical values by removing the dollar sign and the plus symbols and change the column names with units

In [258]:
#data['Size(MB)']=data['Size(MB)'].replace('M','',regex=True)

In [259]:
#data['Size(MB)'] = pd.to_numeric(data['Size(MB)'],errors = 'coerce')

In [260]:
#data['Price'] = data['Price'].map(lambda x: x.rstrip('$'))
#data['Price'] = pd.to_numeric(data['Price'],errors = 'coerce')

In [261]:
#data['Installs'] = data['Installs'].map(lambda x: x.rstrip('+'))
#data['Installs'] = pd.to_numeric(data['Installs'],errors = 'coerce')

In [264]:
data['Installs'] = data['Installs'].map(lambda x: x.rstrip('+'))
data.Size.unique()

array(['19M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M', '28M',
       '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M', '31M',
       '14M', '4.2M', '23M', '6.0M', '6.1M', '4.6M', '9.2M', '5.2M',
       '11M', 'Varies with device', '9.4M', '15M', '10M', '1.2M', '24M',
       '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M',
       '5.7M', '8.6M', '2.4M', '27M', '2.5M', '7.0M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '8.4M', '118k', '44M', '695k', '1.6M', '18k',
       '53M', '6.2M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M', '45M',
       '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '100M',
       '58M', '50M', '68M', '79M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '75M', '69M', '85M', '71M', '62M', '98M', '86M', '87M', '82M',
       '81M', '96M', '91M', '83M', '74M', '92M', '704k', '862k', '899k',
       '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M', '89M',
       '88M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '79k', '239k', '371k', '220k', '730k', '756k',
       '91k', '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k',
       '818k', '81k', '939k', '169k', '45k', '475k', '965k', '90M',
       '545k', '61k', '283k', '655k', '714k', '93k', '872k', '121k',
       '322k', '1.0M', '976k', '172k', '238k', '549k', '206k', '954k',
       '444k', '717k', '210k', '609k', '308k', '705k', '306k', '904k',
       '473k', '175k', '350k', '383k', '454k', '421k', '70k', '812k',
       '442k', '842k', '417k', '412k', '459k', '478k', '335k', '782k',
       '721k', '430k', '429k', '192k', '200k', '460k', '728k', '496k',
       '816k', '414k', '506k', '887k', '613k', '243k', '569k', '778k',
       '683k', '592k', '319k', '186k', '840k', '647k', '191k', '373k',
       '437k', '598k', '716k', '585k', '982k', '222k', '219k', '55k',
       '948k', '323k', '691k', '511k', '951k', '963k', '25k', '554k',
       '351k', '27k', '82k', '208k', '913k', '514k', '551k', '29k',
       '103k', '898k', '743k', '116k', '153k', '209k', '353k', '499k',
       '173k', '597k', '809k', '122k', '411k', '400k', '801k', '787k',
       '237k', '50k', '643k', '986k', '97k', '516k', '837k', '780k',
       '961k', '269k', '20k', '498k', '600k', '749k', '642k', '881k',
       '72k', '656k', '601k', '221k', '228k', '108k', '940k', '176k',
       '33k', '663k', '34k', '942k', '259k', '164k', '458k', '245k',
       '629k', '28k', '288k', '775k', '785k', '636k', '916k', '994k',
       '309k', '485k', '914k', '903k', '608k', '500k', '54k', '562k',
       '847k', '957k', '688k', '811k', '270k', '48k', '329k', '523k',
       '921k', '874k', '981k', '784k', '280k', '24k', '518k', '754k',
       '892k', '154k', '860k', '364k', '387k', '626k', '161k', '879k',
       '39k', '970k', '170k', '141k', '160k', '144k', '143k', '190k',
       '376k', '193k', '246k', '73k', '658k', '992k', '253k', '420k',
       '404k', '1,000+', '470k', '226k', '240k', '89k', '234k', '257k',
       '861k', '467k', '157k', '44k', '676k', '67k', '552k', '885k',
       '1020k', '582k', '619k'], dtype=object)

In [272]:

#
data = data[~data.isin(['Varies with device']).any(axis=1)]

def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

data['Size'] = data['Size'].apply(value_to_float)
data['Size'] = pd.to_numeric(data['Size'], downcast='float')
data['Size'] = data['Size']/1000000
data.Size.unique()

array([ 19. ,   8.7,   2.8,   5.6,  29. ,  33. ,   3.1,  28. ,  12. ,
        20. ,  21. ,  37. ,   5.5,  17. ,  39. ,  31. ,  14. ,   4.2,
        23. ,   6. ,  25. ,   6.1,   4.6,   9.2,   5.2,  11. ,   9.4,
        15. ,  10. ,   1.2,  24. ,  26. ,   8. ,   7.9,  56. ,  57. ,
        35. ,  54. ,   0. ,   3.6,   5.7,   8.6,   2.4,  27. ,   2.7,
         2.5,   7. ,  16. ,   3.4,   8.9,   3.9,   2.9,  38. ,  32. ,
         5.4,  18. ,   1.1,   2.2,   4.5,   9.8,  52. ,   9. ,   6.7,
        30. ,   2.6,   7.1,   3.7,  22. ,   7.4,   6.4,   3.2,   8.2,
         9.9,   4.9,   9.5,   5. ,   5.9,  13. ,  73. ,   6.8,   3.5,
         4. ,   2.3,   7.2,   2.1,  42. ,   7.3,   9.1,  55. ,   6.5,
         1.5,   7.5,  51. ,  41. ,  48. ,   8.5,  46. ,   8.3,   4.3,
         4.7,   3.3,  40. ,   7.8,   8.8,   6.6,   5.1,  61. ,  66. ,
         8.4,  44. ,   1.6,  53. ,   6.2,   1.4,   3. ,   5.8,   3.8,
         9.6,  45. ,  63. ,  49. ,  77. ,   4.4,   4.8,  70. ,   6.9,
         9.3,   8.1,  36. ,  84. ,  97. ,   2. ,   1.9,   1.8,   5.3,
        47. ,  76. ,   7.6,  59. ,   9.7,  78. ,  72. ,  43. ,   7.7,
         6.3,  34. ,  93. ,  65. , 100. ,  58. ,  50. ,  68. ,  79. ,
        64. ,  67. ,  60. ,  94. ,  99. ,  95. ,  80. ,   1.7,  75. ,
        69. ,  85. ,  71. ,  62. ,  98. ,  86. ,  87. ,  82. ,  81. ,
        96. ,  91. ,  83. ,  74. ,  92. ,   1.3,   4.1,  89. ,  88. ,
        90. ,   1. ])

In [267]:
#dropping the row at index position 9294 because it is incorrectly filled as 'Everyone'
data = data.drop([data.index[8004]])

In [268]:
 data['Price'] = pd.to_numeric(data['Price'].str.replace('$',''))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [273]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8353 entries, 0 to 10838
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8353 non-null   object
 1   Category        8353 non-null   object
 2   Rating          8353 non-null   float64
 3   Reviews         8353 non-null   float64
 4   Size            8353 non-null   float64
 5   Installs        8353 non-null   object
 6   Type            8353 non-null   object
 7   Price           8353 non-null   float64
 8   Content Rating  8353 non-null   object
 9   Genres          8353 non-null   object
 10  Last Updated    8353 non-null   object
 11  Current Ver     8353 non-null   object
 12  Android Ver     8353 non-null   object
dtypes: float64(4), object(9)
memory usage: 913.6+ KB

**Descriptive Statistics**

In [274]:
data.describe()

            Rating       Reviews         Size        Price
count  8353.000000  8.353000e+03  8353.000000  8353.000000
mean      4.183192  1.198461e+05    20.342260     1.230875
std       0.513687  9.389876e+05    21.821355    18.112193
min       1.000000  0.000000e+00     0.000000     0.000000
25%       4.000000  1.700000e+01     4.500000     0.000000
50%       4.300000  4.600000e+02    12.000000     0.000000
75%       4.500000  1.508100e+04    28.000000     0.000000
max       5.000000  4.489389e+07   100.000000   400.000000

In [276]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19.0,"10,000",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.7,"5,000,000",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8,"100,000",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167.0,5.6,"50,000",Free,0.0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178.0,19.0,"50,000",Free,0.0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up