<a href="https://colab.research.google.com/github/anasabbad/Play-Store-App-Review-Analysis--EDA-Capstone/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

**Importing Libraries and Loading the data set**

In [111]:
#importing the required libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [112]:
#mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [113]:
#loading the datasets
data= pd.read_csv('/content/drive/MyDrive/EDA_Capstone/Play Store Data.csv')

In [114]:
reviews= pd.read_csv('/content/drive/MyDrive/EDA_Capstone/User Reviews.csv')

**Data Set Inspection**

Here we will see a glimpse of the data set

In [115]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [144]:
reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [117]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [118]:
data.shape

(10841, 13)

## **Handling missing values**

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

From this we can see that there is some columns with missing values. We will either drop some columns or impute values depending on the data

In [120]:
data = data.dropna(subset = ['Rating'])

In [121]:
data.shape

(9367, 13)

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9367 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9367 non-null   object
 1   Category        9367 non-null   object
 2   Rating          9367 non-null   float64
 3   Reviews         9367 non-null   object
 4   Size            9367 non-null   object
 5   Installs        9367 non-null   object
 6   Type            9367 non-null   object
 7   Price           9367 non-null   object
 8   Content Rating  9366 non-null   object
 9   Genres          9367 non-null   object
 10  Last Updated    9367 non-null   object
 11  Current Ver     9363 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

The missing values in content rating, current version and Android version can be imputed with the mode of the column as they are objects

In [123]:
data['Content Rating'] = data['Content Rating'].fillna(data['Content Rating'].mode()[0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [124]:
data['Current Ver'] = data['Current Ver'].fillna(data['Current Ver'].mode()[0])

In [125]:
data['Android Ver'] = data['Android Ver'].fillna(data['Android Ver'].mode()[0])

In [126]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9367 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9367 non-null   object
 1   Category        9367 non-null   object
 2   Rating          9367 non-null   float64
 3   Reviews         9367 non-null   object
 4   Size            9367 non-null   object
 5   Installs        9367 non-null   object
 6   Type            9367 non-null   object
 7   Price           9367 non-null   object
 8   Content Rating  9367 non-null   object
 9   Genres          9367 non-null   object
 10  Last Updated    9367 non-null   object
 11  Current Ver     9367 non-null   object
 12  Android Ver     9367 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

now we can see that we have got rid of all the null values present in the data set.

In [146]:
reviews=reviews.dropna()
reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000

**Checking for duplicates**

In [127]:
duplicate_check= data['App'].duplicated().any()
duplicate_check

True

In [128]:
data['App'].value_counts()

ROBLOX                                               9
CBS Sports App - Scores, News, Stats & Watch Live    8
ESPN                                                 7
Duolingo: Learn Languages Free                       7
Candy Crush Saga                                     7
                                                    ..
Radio K - KUOM                                       1
Kpop Music Quiz (K-pop Game)                         1
OST)                                                 1
Preschool All-In-One                                 1
iHoroscope - 2018 Daily Horoscope & Astrology        1
Name: App, Length: 8197, dtype: int64

now let us see whether the data is same in all those rows or not

In [129]:
data[data['App']=='ROBLOX']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1653,ROBLOX,GAME,4.5,4447388,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1701,ROBLOX,GAME,4.5,4447346,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1748,ROBLOX,GAME,4.5,4448791,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1841,ROBLOX,GAME,4.5,4449882,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1870,ROBLOX,GAME,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2016,ROBLOX,FAMILY,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2088,ROBLOX,FAMILY,4.5,4450855,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2206,ROBLOX,FAMILY,4.5,4450890,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
4527,ROBLOX,FAMILY,4.5,4443407,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up

this may have happened because the data might have been pulled at different times. we need to keep the row with maximum value of reviews assuming that is the latest one.

For this we need to convert the reviews from object to numerical values

In [130]:
data['Reviews'] = pd.to_numeric(data['Reviews'],errors = 'coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9367 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9367 non-null   object
 1   Category        9367 non-null   object
 2   Rating          9367 non-null   float64
 3   Reviews         9366 non-null   float64
 4   Size            9367 non-null   object
 5   Installs        9367 non-null   object
 6   Type            9367 non-null   object
 7   Price           9367 non-null   object
 8   Content Rating  9367 non-null   object
 9   Genres          9367 non-null   object
 10  Last Updated    9367 non-null   object
 11  Current Ver     9367 non-null   object
 12  Android Ver     9367 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

In [131]:
data = data.sort_values('Reviews', kind= 'mergesort', ascending=False).drop_duplicates('App', keep='first').sort_index()

In [132]:
duplicate_check= data['App'].duplicated().any()
duplicate_check

False

Now we have removed all the duplicates

**Data preparation**

we now need to convert the Size, Installs and Price columns to numerical values by removing the dollar sign and the plus symbols and change the column names with units

In [133]:
data.rename(columns = {'Size':'Size(MB)', 'Price':'Price($)'}, inplace = True)

In [134]:
data['Size(MB)']=data['Size(MB)'].replace('M','',regex=True)

In [135]:
data['Size(MB)'] = pd.to_numeric(data['Size(MB)'],errors = 'coerce')

In [136]:
data['Price($)']=data['Price($)'].replace('$','',regex=True)
data['Price($)'] = pd.to_numeric(data['Price($)'],errors = 'coerce')

In [141]:
data['Installs'] = data['Installs'].map(lambda x: x.rstrip('+'))
data['Installs'] = pd.to_numeric(data['Installs'],errors = 'coerce')

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8197 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8197 non-null   object
 1   Category        8197 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         8196 non-null   float64
 4   Size(MB)        6770 non-null   float64
 5   Installs        638 non-null    float64
 6   Type            8197 non-null   object
 7   Price($)        7594 non-null   float64
 8   Content Rating  8197 non-null   object
 9   Genres          8197 non-null   object
 10  Last Updated    8197 non-null   object
 11  Current Ver     8197 non-null   object
 12  Android Ver     8197 non-null   object
dtypes: float64(5), object(8)
memory usage: 896.5+ KB